
@import url('https://fonts.googleapis.com/css?family=Oxanium:200,300,regular,500,600,700,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin: 2%;
    position: relative;
}
.pokedex{
    width: 100%;
    max-width: 425px;
}

.pokemon_image {
    height: 18%;
    left: 52%;
    transform: translate(-10%, 5%);
    position: absolute;
    bottom: 61%   
}

.pokemon_data{
    position: absolute;
    font-weight: 600;   
    color: #413c41 ;
    transform:translate(-1%, 1000%);
    bottom: 95%;
    left: 36.9%;
    height: 10%;
    scale: 73%;
    font-size: clamp(8px, 5vw, 30px);
}

.pokemon_name {
    text-transform: capitalize;
}

.form {
    position: absolute;
    width: 100%;
    bottom: 8%;
    left: 10%;
    scale: 97.6%;
}

.input_search {
    padding: 8%;
    width: 100%;
    scale: 38.6%; 
    border: #413c41 2px solid; 
    border-radius: 5px;
    font-weight: 600;
    color: #413c41;
    font-size: clamp(8px, 5vw, 30px);
}

.buttons {
    position: absolute;
    bottom: 15%;
    left: 81%;
    width: 30%;
    gap: 20px;
     
}

.button {
    width: 18.1%;
    display: flex;
    padding: 4%;
    color: white;
    background-color: #413c41;
    border: 2px solid #121212;
    box-shadow: -2px 3px 0 #222;
    border-radius: 4px;
    font-weight: 600;
    font-size: clamp(8px, 5vw, 1rem)   
}

.button:active {
    box-shadow: inset -4px 4px 0 black;
    font-size: 0.9rem;
}


